@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div class="container">
    <h3 class="center">Quiénes somos</h3>

    <div class="row center">
        <div class="col s12 m5">
            <div class="card-panel teal large blue-grey darken-3">
                <span class="white-text">
                    Somos una empresa de bienes raíces establecida en Costa Rica. Brindamos asesoría a todos nuestros clientes para la compra, venta o alquiler de propiedades tales como: casas de habitación, condominios, apartamentos, fincas, terrenos para desarrollos, quintas, lotes, centros comerciales y edificios.
                    En Bienes_cr Bienes Raíces trabajamos de una manera honesta y leal con todos los clientes que confían en nuestra empresa y nos preocupamos para que cada uno de nuestros clientes sienta y obtenga la mayor satisfacción a la hora de realizar una transacción inmobiliaria con nosotros.
                    Nuestra meta es compartir nuestra experiencia y educación para proveer las mejores opción a nuestros clientes para que puedan tomar la decisión más responsable cuando se trata de la compra de una propiedad.
                    Nuestro sistema esta diseñado para mantener a nuestros ejecutivos y clientes bien informados del mercado de bienes raíces en un nivel local, nacional e internacional mediante el entrenamiento y tecnología de última.
                    Para Bienes_cr Bienes Raíces será un placer servirle
                </span>
            </div>
        </div>
    </div>
</div>

